<%= form_for @reservation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group date-picker">
    <%= f.date_select :datetime, ignore_time: true, discard_year: true, :class => 'control-group date-picker' %>
    <%= f.time_select :datetime, minute_step: 10, :class => 'control-group date-picker' %>   
  </div>

    <%= f.hidden_field :status, value: "Booked" %>
 <!--    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>    
 -->
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn' %>
  </div>
<% end %>
